@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.bangla');
  }

  /* body {
    @apply bg-slate-50 text-slate-900 min-h-screen;
  } */

  a {
    @apply text-inherit no-underline;
  }
}
